{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/inbox.css' %}">
{% endblock %}

{% block content %}

<div class="container">
	<div class="header col-md-4">
	  	<div class="title">
		<h3 style="color: white;">Inbox</h3>
		<p class="badge"></p>
	 	</div>
	  	<div class="add"><a href="{% url 'create-thread' %}">
		  	<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			<path fill="#fffff" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" /></svg></a>
		</div>
	</div>

	<div class="col-md-6">
	<a href="#" class="mail-area">
		<div class="mail row justify-content-center mt-3 mb-5">
		{% for thread in threads.all %}
			<div class="profile"></div>
		  	<div class="content">
			<h5 style="color:beige;"">{{ thread.user }} - {{ thread.receiver }}</h5>
			<a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
			<p style="color:beige;">New Message</p>
		  </div>
		  {% endfor %}
		</div>
	</a>
</div>

{% endblock content %}


