{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="card col-md-3">
			{% if thread.receiver == request.user %}
				<h5>@{{ thread.user }}</h5>
			{% else %}
				<h5>@{{ thread.receiver }}</h5>
			{% endif %}
		</div>
		<div class="col-md-3"></div>
	</div>

	{% if message_list.all.count == 0 %}
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card d-flex flex-column">
			<p class="empty-text">No Messages</p>
		</div>
		<div class="col-md-3"></div>
	</div>
	{% endif %}

	{% for message in message_list %}

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 card d-flex flex-column">
			{% if message.sender_user == request.user %}
				<div class="sent-message my-3" style="text-align: right;">
					<p>{{ message.body }}</p>
					<small>{{message.date}}</small>
				</div>
			{% elif message.receiver_user == request.user %}
				<div class="received-message my-3" style="text-align: left;">
					<p>{{ message.body }}</p>
					<small>{{message.date}}</small>
				</div>
			{% endif %}
		</div>
		<div class="col-md-3"></div>
	</div>
	{% endfor %}

	<div class="row mb-2">
		<div class="col-md-3"></div>
		<div class=" col-md-6 card d-flex flex-column" style="justify-content: center;">
			<form method="POST" action="{% url 'create-message' thread.pk %}" enctype="multipart/form-data">
				{% csrf_token %}
				{% bootstrap_form form %}

				<div class="d-grid gap-2 mt-3">
					<button class="btn btn-light" type="submit">Send Message</button>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>


{% endblock %}


<div class="row mb-2">
	<div class="col-md-6">
	  <div class="card flex-md-row mb-4 box-shadow h-md-250">
		<div class="card-body d-flex flex-column justify-content: center;">
		  <strong class="d-inline-block mb-2 text-primary">World</strong>
		  <h3 class="mb-0">
			<a class="text-dark" href="#">Featured post</a>
		  </h3>
		  <div class="mb-1 text-muted">Nov 12</div>
		  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
		  <a href="#">Continue reading</a>
		</div>
	  </div>
	</div>
	<div class="col-md-6">
  </div>